.topbar{
    background-color: #2D6B68;
    color:#D7D6DD;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topbar button, .topbar span, .topbar a{
  text-decoration: none;
  font-family: Open Sans;
  text-transform: uppercase;
  font-weight: 400;
  color:#E5DE8D;
  -webkit-text-stroke: 0.2px black;
}

.topbar a{
  font-weight: bold;
}

.drop div{
  background-color: #3A2D58;
}

.topbar button:hover, .topbar span:hover, .topbar a:hover, .topbar a:active, .topbar a:focus{
    cursor: pointer;
    color: #ffc07f!important;;
    text-decoration: none;
}
